abstract-singleton
atproto
auto_gpt_plugin_template
black
bs4
build
colorama
flake8
isort
pandas
pylint
pytest
pytest-cov
python-lorem
python-telegram-bot
requests
requests-mock
setuptools
tweepy==4.13.0
twine
validators
wheel
git+https://github.com/mantiumai/mantium-client-py.git